* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
}

nav {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
}

nav .nav-logo, nav .nav {
    display: inline-block;
    padding-right: 25px;
}

.nav-logo {
    padding-left: 5rem;
}

.right-nav {
    float: right;
    padding-left: 2rem;
    padding-right: 5rem;
    font-size: 20px;
}

.tuitt-button {
    background-color: #c2195b;
    color: white;
    border: none;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}

#bg-image {
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-size: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.front-bg {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 80vh;
    text-align: right;
    padding-right: 8%;
}

.title {
    font-family: 'Zilla Slab';
    color: white;
    text-align: right;
    font-size: 3em;
    margin: 0;
    padding-left: 55%;
}

.subtitle {
    font-size: 1.5rem;
    color: white;
    text-align: right;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 70%;
    margin: 2px;
}

.apply-button {
    background-color: #c2195b;
    color: white;
    font-size: 1em;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 30px;
    cursor: pointer;
}

.intro {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.title-2 {
    font-family: 'Zilla Slab', serif;
    font-size: 2em;
    padding-bottom: 5rem;
}

.intro-description {
    font-size: 18px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
}

.pre-footer {
    background-color: #f7fbfb;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 10%;
}

.prefooter-description {
    font-size: 18px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2rem;
}

.book-button {
    background-color: #346488;
    color: white;
    font-size: 18px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1rem;
}